# MQTT Authentication Credentials
MQTT_USERNAME=YOUR_MQTT_USERNAME
MQTT_PASSWORD=YOUR_MQTT_PASSWORD

# MQTT Connection Settings
MQTT_BROKER_IP=mosquitto
MQTT_BROKER_PORT=1883
MQTT_LISTEN_TOPIC=arge/test_device
MQTT_PUBLISH_TOPIC=arge/decision
MQTT_CLIENT_ID=Backend_Decision_Motor
DECISION_INTERVAL_SEC=3.0
